[Unit]
Description=Fairphone 3 microphone jack route switch
After=sound.target
Wants=sound.target

[Service]
Type=simple
ExecStart=/usr/local/bin/fp3-mic-jack.sh
Restart=always
RestartSec=2
Nice=5

[Install]
WantedBy=multi-user.target
